{
  "extends": [
    "airbnb-base"
  ],
  "plugins": [
    "import",
    "mocha"
  ],
  "env": {
    "mocha": true
  },
  "rules": {
    "space-before-function-paren": [0],
    "indent": ["error", 2],
    "no-use-before-define": [0],
    "comma-dangle": [2, "never"],
    "no-shadow": [0],
    "consistent-return": [0],
    "no-param-reassign": [0],
    "global-require": [1],
    "import/no-dynamic-require": [1]
  }
}
